/* Globals */
:root {
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-serif: Georgia, serif;
  --color-secondary: #333;
  --color-link: #635ac7;

  font-family: var(--font-sans);
  font-weight: normal;
  line-height: 1.5;
}

body {
  margin: 0;
}

a {
  color: var(--color-link);
}

#wrapper {
  min-height: calc(100vh - 70px);
  text-align: center;
}

#footer {
  height: 40px;
}

/* Snippets */
.site-header {
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
}

.site-header__quote {
  color: var(--color);
  font-family: var(--font-serif);
  margin-left: auto;
  margin-right: auto;
  max-width: 460px;
}

.site-footer {
  margin-top: 2rem;
  color: var(--color);
  font-family: var(--font-serif);
  text-align: center;
}

#loadMoreBtn {
  margin-bottom: 2rem;
}

.site-section {
  margin: 2rem 1rem;
}

.site-section__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.site-section__pet-card {
  border-radius: 5px;
  margin: 6px;
  float: left;
  cursor: pointer;
  transition: 0.3s;
}

.site-section__pet-card:hover {
  opacity: 0.8;
  filter: drop-shadow(8px 8px 10px gray);
  -webkit-filter: drop-shadow(8px 8px 10px gray);
}

.site-button {
  padding: 1.1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: gray;
  color: white;
}

.site-button:hover {
  opacity: 0.8;
}

.site-modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.site-modal__content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  max-height: 700px;
  object-fit: contain;
}

img.site-section__pet-img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  -webkit-animation-name: expand;
  -webkit-animation-duration: 0.9s;
  animation-name: expand;
  animation-duration: 0.9s;
}

#siteModalInfo {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
}

.site-modal__content, #siteModalInfo {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.9s;
  animation-name: zoom;
  animation-duration: 0.9s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

@keyframes expand {
  from {height: 0px;}
  to {height: 300px;}
}

@-webkit-keyframes expand {
  from {height: 0px;}
  to {height: 300px;}
}

.site-modal__close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.site-modal__close:hover,
.site-modal__close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  .site-modal__content {
    width: 100%;
  }
}